* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.active {
    border: 1px solid #17515E;
    transform: scale(1.3);
    transition: all 300ms;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slideshow {
    position: relative;
}

.mainImg {
    transition: all 200ms;
    width: 100%;
}

.actions {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions button {
    color: #fff;
    background: #17515E;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.actions button:active {
    color: #fff;
    background: #0b313a;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.thumbnail {
    display: flex;
    justify-content: center;
}

.landingpage-container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo-lp {
    display: flex;
    align-items: center;
}

.logo-lp img {
    margin-right: 0.5rem;
    width: 2.4rem;
    height: 3rem;
}

header nav ul{
    font-weight: 600;
    display: flex;
}

nav ul li {
    margin-left: 3rem;
}

footer {
    font-weight: 600;
    color: #fff;
    padding: 1rem;
    background: #17515E;
}

footer span {
    font-weight: 400;
}