@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(58.47% 142.05% at 81.19% 38.72%, #F5F5F5 0%, #FFFFFF 100%);
    
}

.main {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    height: 100vh;
    padding: 0 10rem;
    background-image: url('../../img/analisis-data.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.main .title {
    flex: 50%;
    margin: 4rem 0;
    padding: 40px;
    background: #17515E;
    border-radius: 20px 0px 0px 20px;
    color: #FFFFFF;
}

.title h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
}

.title h2 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    margin-bottom: 7rem;
}

.features {
    display: flex;
    align-items: center;
}

.features img {
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
}

.main .login {
    display: flex;
    flex-direction: column;
    flex: 20%;
    text-align: center;
    margin: 4rem 0;
    padding: 7rem 40px;
    background-color: #FFFFFF;
    border: 3px solid #17515E;
    border-radius: 0px 20px 20px 0px;
}

.login-center tr{
    display: flex;
    flex-direction: column;
}

.login h2 {
    padding: 0;
    color: #343840;
    text-align: center;
    font-size: 2rem;
}

.login input {
    font-family: 'Raleway', sans-serif;
    padding: 10px 21px;
    width: 22rem;
    margin: 8px 0;
    background: #FFFFFF;
    border: 2px solid #17515E;
    border-radius: 10px;
}

.login p {
    color: #343840;
    padding-left: 16rem;
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.login .btn-login {
    font-weight: 600;
    cursor: pointer;
    width: 25rem;
    height: 2.1rem;
    background: #17515E;
    border: 2px solid #17515E;
    border-radius: 10px;
    color: #FFFFFF;
    transition: 0.4s ease-out;
}

.login .btn-login:hover {
    color: #17515E;
    background-color: #FFFFFF;
    border: 2px solid #17515E;
    font-weight: 600;
}